/*ML - SK*/

/*Set*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body{
    min-height: 100vh;
    background-image: radial-gradient(#001232, #000000);

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: fff;
    font-size: 16px;
}

a:hover{
    color: #aaaaaa;
}

/*End Set*/

/* Hedder */

header {
    position: relative;
    margin: 10;
    padding: 0 20px;
    background-color: #000000c7;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    width: 1px;
    font-size: 1.5rem;
    font-weight: bold;
}

#links{
    display: flex;
    gap: 2rem;
}

ul#links .active {
    font-weight: bold;
  }

/* End Hedder */

/*Bac*/
.conteiner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
/*End Bac*/

/*Content*/

.cont{
    width: auto;
    height: 100%;
    margin: 3vh;
    padding: 0 1vh;
    background-color: #000000c7;
}

.content{
    width: auto;
    padding-top: 2vh;
}

/*End Content*/

/*BackGround Animation*/

.bubbles
{
    position: relative;
    display: flex;
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animate 20s linear infinite;
    animation-duration: calc(250s / var(--i))
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(1);
    }
}

/*EndBackGround Animation*/