/*Set*/

*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body{
    min-height: 100vh;
    background-image: radial-gradient(#001232, #000000);

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: fff;
    font-size: 16px;
}

a:hover{
    color: #aaaaaa;
}

/*End Set*/

/*BackGround Animation*/

.bubbles
{
    position: relative;
    display: flex;
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animate 20s linear infinite;
    animation-duration: calc(250s / var(--i))
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(1);
    }
}

/*EndBackGround Animation*/
